button
    min-width: 100px
    width: auto
    padding: 5px 10px
    border-radius: 4px
    border: 1px solid #999
    display: inline-block
    color: #fff
    background-color: #ccc
    font-size: 16px
    cursor: pointer
    text-align: centr
    margin-left: 20px

    &.create
          border-color: #218457
          background-color: #00B060
          margin-top: 20px

      &:hover
        border-color: #00733E
        background-color: #218457