.row
	.col-md-6.col-md-offset-3
		.page-header
			h1 Binary studio projects
		.project-container(ng-repeat="project in vm.projects")
			a.project-name(ui-sref="project-view({ id: project._id })") {{ project.name }}
